__pycache__/
*.pyc
*.pyo

.DS_Store
Thumbs.db

devstack-app/config/app-settings.json

devstack-template/apache/logs/
devstack-template/nginx/logs/
devstack-template/mysql/data/
devstack-template/_downloads/

# Ignore custom user-installed websites in htdocs, preserving the control dashboard
devstack-template/htdocs/*/
!devstack-template/htdocs/dashboard/

# Ignore custom downloaded PHP runtimes
devstack-template/php7*/
devstack-template/php8*/
